*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  /* NEUTRAL COLORS */
  --white: #FCFAFB; 
  --black: #000;

  /* MAIN DEGREES FOR LINEAR-GRADIENT COLORS */
  --degrees: -225deg;

  /* MAIN COLORS */
  --clr-primary-blue-800: #231557;
  --clr-primary-blue-600: #2E3192;
  --clr-primary-blue-200: #1BFFFF;

  /* MAIN LINEAR-GRADIENTS */
  --linear-gradient-main: var(--clr-primary-blue-600), var(--clr-primary-blue-200);
  --linear-gradient-for-animation:  var(--clr-primary-blue-600), 
                                    var(--clr-primary-blue-600),
                                    var(--clr-primary-blue-200),
                                    var(--clr-primary-blue-200),
                                    var(--clr-primary-blue-600),
                                    var(--clr-primary-blue-600);

  --linear-gradient-with-degrees: linear-gradient(var(--degrees), var(--linear-gradient-main));
  --linear-gradient-animation : linear-gradient(var(--degrees), var(--linear-gradient-for-animation));

  /* OTHER COLORS */
  --red: #ff2121;
  --green: #21ff37;
  --black-800: #000000a4;
  
  /* BOX SHADOWS */
  --box-shadow-main:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  --box-shadow-800: 0 0 0 2px var(--black-800), 4px 4px 0 0 var(--black-800);
  --box-shadow-red: 0 0 0 2px var(--red), 4px 4px 0 0 var(--red);
  --box-shadow-green: 0 0 0 2px var(--green), 4px 4px 0 0 var(--green);
}

/* TEMPORARY ELEMENT */
h2{
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  margin-top: 4rem;
}

body {
  background-color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

/* INDEX STYLE STARTS */

.body-container {
  --max-width: 890px;
  --padding: 0.75rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  padding-bottom: 1rem;
  flex: 1 1 0;
}

.header{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 100%;
  top: 0;
  padding: .5rem .825rem;
  z-index: 10000;
  background-color: var(--white);
  box-shadow: var(--box-shadow-main);
}

.header .btn{
  cursor: pointer;
  display: none;
  border: none;
  background: transparent;
}

.header #menu,
.header img{
  width: 2rem;
  height: 2rem;
}

.header #menu{
  padding-top: .3rem;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header .close-menu{
  display: none;
}

.nav a{
  padding: .5rem;
  color: var(--black);
  font-weight: 500;
}

.nav a.active,
.main-title span,
.footer p span,
.saved-list span{
  color: var(--black);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav a.active,
.saved-list span{
  background-image: linear-gradient(var(--degrees), var(--linear-gradient-main));
}

.main{
  margin-top: 4.5rem;
  padding: .5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: var(--box-shadow-main);
}

.main .main-title{
  font-size: clamp(1.25rem, 6vw, 2rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.main p{
  display: block;
  margin-inline: auto;
  max-width: 400px;
  font-size: 14px;
  font-style: italic;
  color: #3d3d3d;
}

.main-title span{
  background-image: var(--linear-gradient-with-degrees);
}

.divisions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
  padding: .625rem;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: var(--box-shadow-main);
}

.division-box{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.division-box label{
  cursor: pointer;
  width: 100%;
  padding: 3px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  color: var(--white);
  background-color: #000000a4;
}

.division-box label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 400%;
  height: 100%;
  background-size: 25% 100%;
  animation: animate 1.25s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 2s ease-out;
}

.division-box input:is(:checked) + label::before{
  animation-play-state: running;
  transition-duration: 2s;
  translate: 0% 0%;
  background-image: var(--linear-gradient-animation);
}

.division-box label span{
  display: block;
  width: 100%;
  padding: .5rem;
  font-weight: 700;
  background-color: #212121;
}

.division-box input[type="radio"]{
  position: absolute;
  appearance: none;
  z-index: 10;

  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: .8rem;
  margin-right: .8rem;
  border: 4px solid var(--black);
  background-color: var(--white);
}

.division-box input[type="radio"]:checked{
  background-image: radial-gradient(var(--clr-primary-blue-800) 35%, var(--white) 45%);
}

@keyframes animate {
  to {
    transform: translateX(-25%);
  }
}

.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.button {
  cursor: pointer;
  position: relative;
  margin-top: 1rem;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white);
  background-image: var(--linear-gradient-with-degrees);
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.workout-section{
  margin-top: 1rem;
  padding: .625rem;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: var(--box-shadow-main);
}

.workout-section .workoutExerciseAndReps,
.customExerciseAndReps{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.workoutExerciseAndReps h3,
.customExerciseAndReps h3{
  padding: .3rem .5rem;
  font-weight: 500;
  box-shadow: var(--box-shadow-800);
}

.workoutExerciseAndReps h3:first-of-type,
.workoutListExercise label,
.customExerciseAndReps h3:first-of-type,
.customBox .customExercise,
.box-exercises .saved-exercise-name{
  width: 80%;
}

.workoutExerciseAndReps h3:last-of-type,
.workoutListExercise p,
.customExerciseAndReps h3:last-of-type,
.customBox .customReps,
.box-exercises .saved-set-x-rep{
  width: 20%;
}

.workout-section .subtitle{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-size: 12px;
}

.subtitle .info{
  font-size: 1rem;
  font-weight: 500;
}

.subtitle .undone,
.subtitle .done{
  display: flex;
  align-items: center;
  gap: .25rem;
}

.subtitle .done span,
.subtitle .undone span{
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid var(--black);
}

.subtitle .done span{
  background-color: var(--green);
}

.subtitle .undone span{
  background-color: var(--red);
}

.workout-section .workoutList{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.workoutList .workoutListExercise:first-child{
  margin-top: 1.875rem;
}

.workoutListExercise label input[type="checkbox"]{
  display: none;
}

.workoutList .workoutListExercise{
  display: flex;
  gap: .625rem;
}

.workoutListExercise label{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: .625rem;
  font-size: 14px;
}

.workoutListExercise label div{
  width: 100%;
  padding: .3rem .5rem;
  box-shadow: var(--box-shadow-red);
}

.workoutListExercise label div.checked{
  box-shadow: var(--box-shadow-green);
}

.workoutListExercise p{
  padding: .3rem .5rem;
  font-size: 14px;
  box-shadow: var(--box-shadow-800);
}

/* INDEX STYLE ENDS */

.footer{
  padding: 1rem .5rem;
  font-size: 10px;
  background-color: var(--white);
  box-shadow: var(--box-shadow-main);
}

.footer p{
  display: block;
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
}

.footer p span{
  background-image: var(--linear-gradient-with-degrees);
  font-weight: 500;
}

/* CUSTOM TRAINING STYLE STARTS */

.add-box{
  background-color: var(--white);
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-box h2,
.add-box ion-icon{
  color: var(--black-800);
}

.add-box h2{
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.add-box ion-icon{
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px dashed var(--black-800);
  cursor: pointer;
}

.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .2s ease;
}

.popup-box, .popup-box .popup{
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.popup-box.show, .popup-box .popup{
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.popup-box .popup{
  position: absolute;
  max-width: 35rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup .content{
  background-color: var(--white);
  padding: 1rem 1.5rem;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.content header p{
  font-size: 1.25rem;
  font-weight: 500;
}

.content header ion-icon{
  cursor: pointer;
  font-size: 1.5rem;
}

.content .inputs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs .row{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.inputs input{
  width: 100%;
  padding: .5rem .825rem;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.customExerciseBox{
  background-color: var(--white);
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: .825rem .5rem;
}

.customList{
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.customList .customBox{
  display: flex;
  font-size: 14px;
  gap: .5rem;
}

.customList .customBox:first-child{
  margin-top: 1.5rem;
}

.customBox .customExercise,
.customBox .customReps,
.box-exercises .saved-exercise-name,
.box-exercises .saved-set-x-rep{
  box-shadow: var(--box-shadow-800);
  padding: .3rem .5rem;
}

.customBox .customExercise{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.customExercise button{
  background: transparent;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.customExercise button ion-icon{
  font-size: 1rem;
}

.popup-saved-box{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .2s ease;
  opacity: 0;
  pointer-events: none;
}

.popup-saved-box.show{
  opacity: 1;
  pointer-events: auto;
}

.popup-saved-box .popup-confirm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25rem;
  width: 100%;
}

.popup-confirm .popup-box-content{
  background-color: var(--white);
  padding: 1rem;
  margin: .5rem;
}

.popup-confirm ion-icon{
  display: block;
  font-size: 1.5rem;
  padding: .25rem;
  cursor: pointer;
  margin: -1rem -1rem 1rem auto;
}

.popup-confirm p:first-of-type{
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
}

.popup-confirm p:last-of-type{
  font-size: 14px;
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

/* CUSTOM TRAINING STYLE ENDS */

/* SAVED EXERCISES STYLE STARTS */

.saved-list{
  margin-top: 4.5rem;
  background-color: var(--white);
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 5px;
}

.saved-list span{
  font-size: clamp(1rem, 6vw, 2rem);
  font-weight: 500;
}

.saved-box{
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin-top: 1.5rem;
  gap: 1rem;
  border-radius: 5px;
}

.saved-box .box{
  padding: 0 .5rem 1rem .5rem;
  margin: .75rem;
  font-size: 14px;
  box-shadow: 0 0 0 2px var(--clr-primary-blue-600), 4px 4px 0 0 var(--clr-primary-blue-800);
}

.box .box-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.box .box-title button{
  background: transparent;
  padding: .5rem;
  cursor: pointer;
}

.box-content .box-exercises,
.saved-box .box-content{
  display: flex;
  gap: .625rem;
}

.saved-box .box-content{
  flex-direction: column;
}

/* SAVED EXERCISES STYLE ENDS */

/* MEDIA QUERY */

@media(max-width: 45em){
  .header{
    justify-content: space-between;
  }

  .header .btn{
    display: block;
  }

  .nav{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: normal;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6rem 0 0 1rem;
    width: 70%;
    min-height: 100vh;
    font-size: 1.25rem;
    background-color: var(--white);
    transform: translate(-700px, 0);
    transition: 150ms ease-in-out;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .nav.active{
    transform: translate(0, 0);
  }

  .nav.active::before{
    content: "";
    position: absolute;
    inset: 0;
    margin-left: 100%;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
  }

  .nav.active ~ .close-menu{
    cursor: pointer;
    position: absolute;
    display: block;
    background: transparent;
    font-size: 2rem;
    top: .835rem;
  }
}